			*{
				
				padding: 0px;
				margin: 0px;
				
				
			}
			body{
				background-color:rgb(245,245,245);
			}
			.bannerimage{position: absolute;top: 400px;right: 30px;
				}
			.bannerimage{width:270px;height:300px;float:left;background-size:100% 100%;color:#fff;box-shadow: 0 0 12px 2px  #142732;}
			.box{width:270px;height:300px;margin:0px auto;overflow: hidden;}
			/* box的宽度为img的个数乘以bannerimage的宽度*/
			.img-g{width:1890px;height:300px;position:relative;}
			.img-g img{float:left;width:270px;height:300px;}
			.button-g{position:relative;top:-35px;text-align:center;}
			.button-g span{display:inline-block;position:relative;z-index:10;width:10px;height:10px;margin:0 5px;border-radius:100%;cursor: pointer;}
			#all{
				width: 1200px;
				height: 2000px;
				
				position: relative;
				left: 140px;
				top: 20px;
				background-color: #FFFFFF;
			}
			#header{
				width: 280px;
				height: 50px;
				
				position: absolute;
				top: 40px;
				left: 30px;
				letter-spacing: 2px;
				
			}
			#header>h1{
				float: left;
				position: absolute;
				top: 8px;
			
			}
			#header>h3{
				float: right;
				
			}
			#text{
				width: 800px;
				height: 400px;
				position: absolute;
				left: 30px;
				top: 120px ;
				
				text-indent: 2em;
				letter-spacing: 2px;
			}
			#why{
				display: block;
				text-indent: 2em;
				letter-spacing: 2px;
			}
			#picture{
				width: 270px;
				height: 300px;
				position: absolute;
				top: 30px;
				right: 30px;
			}
			#picture img{
				width: 270px;
				height: 300px;
			}
			#link{
				
				position: absolute;
				top: 530px;
				left: 30px;
				
			}
				
			#link img{
				width: 800px;
				height: 120px;
			}
			#talk{
				width: 270px;
				position: absolute;
				top: 350px;
				right: 30px;
			}
			#talk img{
				width: 64px;
				height: 26px;
			}
			#talk span{
				display: inline-block;
				font-size: 12px;
				color: #999;
				margin-left: 6px;
				margin-top: 1px;
			}
			#relavtion{
				color: #FFF;
				background: #71b3f7;
				padding: 0 6px;
				position: absolute;
				top: 690px;
				left: 30px;
			}
			#table{
				width: 395px;
				position: absolute;
				top: 900px;
				float: left;
				
			}
			#tableTwo{
				width: 395px;
				position: absolute;
				top: 900px;
				left: 450px;
				
				
			}
			#table>.left>table{
				
				padding: 0 5px 0 12px;
				font-weight: 700;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-wrap: normal;
				color: #999;    
				border-spacing: 40px 10px;
			   
			}
			
			
		
			#tableTwo>.right>table{
				
				padding: 0 5px 0 12px;
				font-weight: 700;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-wrap: normal;
				color: #999;    
				border-spacing: 40px 10px;
				    
			}
			#didi{
				position: absolute;
				top: 1300px;
				left: 30px;
			}
			#therepicture{
				position: absolute;
				top: 730px;
				left: 30px;
			}
			#therepicture>img{
				width: 82px;
				height:82px;
				
				
			}
			#weizhi{
				position: relative;
				top: 820px;
				left: 60px;
				
			}
			#mother{
				position: relative;
				top: 0px;
				left: -13px;
				color: #333;
				line-height: 30px;
				letter-spacing: 1px;
				font-size: 80%;

				
			}
			#mother>i{
				color: #136ec2;
				
			}
			#borther{
				position: relative;
				top: 0px;
				left: 10px;
				font-size: 80%;
				line-height: 30px;
				letter-spacing: 1px;
			}
			#borther>i{
				color: #136ec2;
			}